<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls Blog</title>
    <body>
        <header>
            <h1><a href=""> Django Girls Blog</a></h1>
        </header>

        <article> 
            <time> published: 06.11.2023 15:27</time>
            <h2><a href="">My first post</a></h2>
            <p>Das ist einfach ein Dummy-Text, damit da überhaupt irgendwas in diesem Absatz steht und nicht alles so leer aussieht.</p>
        </article>

        <article>
            <time> published: 06.11.2023 15:31</time>
            <h2><a href="">My second post</a></h2>
            <p>Es ist wieder soweit. Ich gebe hier wieder mal einen Text ein, der einfach gar nicht zu bedeuten hat. Ab soll ich tun, so ist es halt.</p>
        </article>

    </body>

    <footer>&copy; Hans.com</footer>
</html>